* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    width: 41%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-celular {
    height: 60rem;
}

.celular {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(235, 235, 235);
    padding: 35px;
    margin-bottom: 10px
}

.instagram-logo {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.logo-instagram-imagem {
    width: 90%;
}

.foto-perfil {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.foto-perfil-imagem {
    border-radius: 50%;
    width: 65%;
    height: 65%;
}

.continue-como {
    background-color: royalblue;
    color: #fff;
    padding: 7px 10px;
    margin-bottom: 25px;
    border-radius: 3px;
}

.remover-conta {
    color: royalblue;
}

.baixe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.downloads {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.downloads a{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.downloads a img{
    width: 130px;
}

/*Formatações gerais*/

.not-account {
    color: rgb(156, 156, 156);
    margin-bottom: 10px;
}

.get-the-app {
    margin-bottom: 20px;
}

.link-azul {
    color: royalblue;
}